<footer>
    <div class="page-column">
        {{- if .SiteMenu.PrimaryFooterMenu -}}
            <nav id="primary--footer">
                <ul>
                    {{- range $item := .SiteMenu.PrimaryFooterMenu -}}
                        <li>
                            {{- template "partials/menu-link.tmpl" $item -}}
                            {{- if $item.SubMenu -}}
                                <ul>
                                    {{- range $sub_item := $item.SubMenu -}}
                                        <li>
                                            {{- template "partials/menu-link.tmpl" $sub_item -}}
                                        </li>
                                    {{- end -}}
                                </ul>
                            {{- end -}}
                        </li>
                    {{- end -}}
                </ul>
            </nav>
        {{- end -}}
        <nav id="secondary--footer">
            {{- if .SiteMenu.SecondaryFooterMenu -}}
                <ul>
                    {{- range $item := .SiteMenu.SecondaryFooterMenu -}}
                        <li>
                            {{- template "partials/menu-link.tmpl" $item -}}
                            {{- if $item.SubMenu -}}
                                <ul>
                                    {{- range $sub_item := $item.SubMenu -}}
                                        <li>
                                            {{- template "partials/menu-link.tmpl" $sub_item -}}
                                        </li>
                                    {{- end -}}
                                </ul>
                            {{- end -}}
                        </li>
                    {{- end -}}
                </ul>
            {{- end -}}
            {{- if or .Copyright .CopyrightNotice -}}
                <div id="copyright">
                    {{- if .CopyrightNotice -}}
                        {{- if .CopyrightName }}
                            <span class="name d--mobile--sm--block d--mobile--lg--inline-block">{{- _ .CopyrightName /* site copyright name */ -}}</span>
                            <span class="d--mobile--lg--inline-block">—</span>
                        {{- end }}
                        <span class="notice d--mobile--sm--block d--mobile--lg--inline-block">&copy;&nbsp;{{ .CurrentYear }}&nbsp;&nbsp;{{- _ .CopyrightNotice /* site copyright notice */ -}}</span>
                    {{- else -}}
                        <span class="notice d--mobile--sm--block d--mobile--lg--inline-block">{{- _ .Copyright /* site copyright (custom) */ -}}</span>
                    {{- end -}}
                </div>
            {{- end -}}
            {{- if .Theme.Authors }}
                {{ range $author := .Theme.Authors }}
                    <div class="center" style="font-size:xx-small;">
                        {{ if $author.Homepage -}}
                        <a href="{{ $author.Homepage }}" target="_blank">
                            {{- end -}}
                            {{- if $author.Name -}}
                                <span>{{- _ "Site theme by: %s" $author.Name /* site theme design credit */ -}}</span>
                            {{- else if $author.Homepage -}}
                                <span>{{- _ "Site theme by: %s" $author.Homepage /* site theme design credit */ -}}</span>
                            {{- end -}}
                            {{- if $author.Homepage }}
                        </a>
                        {{- end -}}
                    </div>
                {{- end -}}
            {{- end -}}
        </nav>

    </div>
</footer>
<a href="#top" class="jump-to anchor">
    <div class="jump-to top">
        <span class="sr-only">{{ _ "back to top" /* screen reader only */ }}</span>
    </div>
</a>